{% extends "base.html" %}

{% block content %}

  <h1 id="404-page-not-found">Page non trouvée</h1>

<div class="admonition warning">
<p class="admonition-title">Erreur 404</p>
<p>La documentation d'Huma-Num a récemment fait peau neuve et ses URLs ont pu changer. Nous vous invitons à utiliser le moteur de recherche ou la table des matières pour retrouver le contenu recherché.</p>
<p>Si vous ne trouvez pas le contenu recherché, <a href="https://gitlab.huma-num.fr/huma-num-public/documentation/-/issues/new?issue">vous pouvez nous la signaler ici</a>, en indiquant l'URL demandée, le sujet abordé, et éventuellement le site source sur lequel vous avez trouvé ce lien.</p>
<p>Merci pour votre compréhension.</p>

</div>

{% endblock %}
